{% extends 'base.html' %}
{% load random_numbers %}
{% block content %}

<section class="section">
  <div class="container">

    <form action="{% url 'news:index' %}" method="get">
      {{ formset.management_form }}
      <input class="input" name="q" id="q" type="text" placeholder="Search..." value={{request.GET.q}}>
      <div class="field is-grouped" style="margin-top: 1%">
        <label class="label" for="sortby" style="margin-top: 0.5%; margin-right: 0.5%">Sort by:</label>
        <div class="select">
          <select name="sortby" id="sortby">
            <option value="pub_date">Published date</option>
            <option value="title">Title</option>
          </select>
        </div>

        <label class="label" for="order" style="margin-top: 0.5%; margin-right: 0.5%; margin-left: 1%">Order:</label>
        <div class="select">
          <select name="order" id="order">
            <option value="desc">Descending</option>
            <option value="asc">Ascending</option>
          </select>
        </div>
        <div class="control" style="margin-left: 1%">
          <input class="button is-link"type="submit" value="Search">
        </div>
        <div class="control" style="margin-left: 0.3%">
          <button class="button is-danger is-light" type="button" id="crawlbutton">Start crawing</button>
        </div>
      </div>
    </form>
  </div>
</section>

<section class="hero-section">
  <div class="card-grid">
    {% for news in object_list %}
      <a class="card" href={% url 'news:detail' pk=news.pk %}>
        <div class="card__background" style="background-image: url({{news.imageurl}})"></div>
        <div class="card__content">
          <p class="card__category">{{ news.pub_date }}</p>
          <h3 class="card__heading">{{ news.title|slice:":50" }}...</h3>
        </div>
      </a>
    {% endfor %}
  </div>
</section>

<nav class="pagination is-centered" role="navigation" aria-label="pagination" style="margin-left: 15%;margin-right: 15%;">
  {% if page_obj.has_previous %}
  <a class="pagination-previous" href="?page=1&q={{request.GET.q}}&order={{request.GET.order}}&sortby={{request.GET.sortby}}">First page</a>
  <a class="pagination-previous" href="?page={{ page_obj.previous_page_number }}&q={{request.GET.q}}&order={{request.GET.order}}&sortby={{request.GET.sortby}}">Previous page</a>
  {% endif %}
  <ul class="pagination-list">
    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>
  </ul>
  {% if page_obj.has_next %}
  <a class="pagination-next" href="?page={{ page_obj.next_page_number }}&q={{request.GET.q}}&order={{request.GET.order}}&sortby={{request.GET.sortby}}">Next page</a>
  <a class="pagination-next" href="?page={{ page_obj.paginator.num_pages }}&q={{request.GET.q}}&order={{request.GET.order}}&sortby={{request.GET.sortby}}">Last page</a>
  {% endif %}
</nav>
<!--

  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <a href="?page=1&q={{request.GET.q}}&order={{request.GET.order}}&sortby={{request.GET.sortby}}">&laquo; first</a>
      <a href="?page={{ page_obj.previous_page_number }}&q={{request.GET.q}}&order={{request.GET.order}}&sortby={{request.GET.sortby}}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}&q={{request.GET.q}}&order={{request.GET.order}}&sortby={{request.GET.sortby}}">next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}&q={{request.GET.q}}&order={{request.GET.order}}&sortby={{request.GET.sortby}}">last &raquo;</a>
    {% endif %}
  </span>
</div>
-->
<!--
    <ul>
      {% for news in object_list %}
      <li><a href={% url 'news:detail' pk=news.pk%}>{{ news.title }}</a></li>
      {% empty %}
      <li>No news found! Maybe you want to search for some?</li>
      {% endfor %}
    </ul>


      -->
<canvas id="myChart" width="400" height="100"></canvas>
<canvas id="bar" width="400" height="100"></canvas>
{% endblock %}

{% block scripts %}
<script>
  document.getElementById("crawlbutton").addEventListener("click", () => {
    window.location.href = `?crawl=true&q=${document.getElementById("q").value}`;
  })

  $(document).ready(() => {
          let ctx = document.getElementById('myChart').getContext('2d');
          let myChart = new Chart(ctx, {
              type: 'doughnut',
              data: {
                  labels: [{%for person in entity_list%}'{{person.name}}',{%endfor%}],
                  datasets: [{
                      label: 'People or organisation mentioned in the news',
                      data: [{%for person in entity_list%}{{person.count}},{%endfor%}],
                      backgroundColor: [
                      {%for person in entity_list %}
                      'rgba({% random_int 1 255 %}, {% random_int 1 255 %}, {% random_int 1 255 %}, 0.2)',{% endfor %}
                      ],
                      borderColor: [
                      {%for person in entity_list %}
                      'rgba({% random_int 1 255 %}, {% random_int 1 255 %}, {% random_int 1 255 %}, 0.2)',{% endfor %}
                      ],
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      y: {
                          beginAtZero: true
                      }
                  }
              }
          }
  );
  let barCtx = document.getElementById('bar').getContext('2d');
  let bar = new Chart(barCtx, {
      type: 'bar',
      data: {
          labels: [{%for person in entity_list%}'{{person.name}}',{%endfor%}],
          datasets: [{
              label: 'People or organisation mentioned in the news',
              data: [{%for person in entity_list%}{{person.count}},{%endfor%}],
              backgroundColor: [
              {%for person in entity_list %}
              'rgba({% random_int 1 255 %}, {% random_int 1 255 %}, {% random_int 1 255 %}, 0.2)',{% endfor %}
               ],
              borderColor: [
              {%for person in entity_list %}
              'rgba({% random_int 1 255 %}, {% random_int 1 255 %}, {% random_int 1 255 %}, 0.2)',{% endfor %}
              ],
              borderWidth: 1
          }]
      },
      options: {
        scales: {
          yAxes: [{
              ticks: {
                  beginAtZero: true
              }
          }]
      }
      }
  }
 );
      });
</script>
{% endblock %}
