{% extends 'base.html' %}
{% load random_numbers %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>News</h1>
      <form action="{% url 'news:index' %}" method="get">
        {{ formset.management_form }}
        <input name="q" id="q" type="text" placeholder="Search..." value={{request.GET.q}}>
        <label for="sortby">Sort by:</label>
        <select name="sortby" id="sortby">
          <option value="pub_date">Published date</option>
          <option value="title">Title</option>
        </select>
        <label for="order">Order:</label>
        <select name="order" id="order">
          <option value="desc">Descending</option>
          <option value="asc">Ascending</option>
          <input type="submit" value="Search">

        <button type="button" id="crawlbutton">Start crawing</button>
      </form>
      <ul>
      {% for news in object_list %}
        <li><a href={% url 'news:detail' pk=news.pk%}>{{ news.title }}</a></li>
      {% empty %}
        <li>No news found! Maybe you want to search for some?</li>
      {% endfor %}
      </ul>

      <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1&q={{request.GET.q}}&order={{request.GET.order}}&sortby={{request.GET.sortby}}">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}&q={{request.GET.q}}&order={{request.GET.order}}&sortby={{request.GET.sortby}}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&q={{request.GET.q}}&order={{request.GET.order}}&sortby={{request.GET.sortby}}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}&q={{request.GET.q}}&order={{request.GET.order}}&sortby={{request.GET.sortby}}">last &raquo;</a>
            {% endif %}

          </span>
        </div>
      <canvas id="myChart" width="400" height="100"></canvas>
      <canvas id="bar" width="400" height="100"></canvas>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  document.getElementById("crawlbutton").addEventListener("click", () => {
    window.location.href = `?crawl=true&q=${document.getElementById("q").value}`;
  })

  $(document).ready(() => {
          let ctx = document.getElementById('myChart').getContext('2d');
          let myChart = new Chart(ctx, {
              type: 'doughnut',
              data: {
                  labels: [{%for person in entity_list%}'{{person.name}}',{%endfor%}],
                  datasets: [{
                      label: 'People or organisation mentioned in the news',
                      data: [{%for person in entity_list%}{{person.count}},{%endfor%}],
                      backgroundColor: [
                      {%for person in entity_list %}
                      'rgba({% random_int 1 255 %}, {% random_int 1 255 %}, {% random_int 1 255 %}, 0.2)',{% endfor %}
                      ],
                      borderColor: [
                      {%for person in entity_list %}
                      'rgba({% random_int 1 255 %}, {% random_int 1 255 %}, {% random_int 1 255 %}, 0.2)',{% endfor %}
                      ],
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      y: {
                          beginAtZero: true
                      }
                  }
              }
          }
  );
  let barCtx = document.getElementById('bar').getContext('2d');
  let bar = new Chart(barCtx, {
      type: 'bar',
      data: {
          labels: [{%for person in entity_list%}'{{person.name}}',{%endfor%}],
          datasets: [{
              label: 'People or organisation mentioned in the news',
              data: [{%for person in entity_list%}{{person.count}},{%endfor%}],
              backgroundColor: [
              {%for person in entity_list %}
              'rgba({% random_int 1 255 %}, {% random_int 1 255 %}, {% random_int 1 255 %}, 0.2)',{% endfor %}
               ],
              borderColor: [
              {%for person in entity_list %}
              'rgba({% random_int 1 255 %}, {% random_int 1 255 %}, {% random_int 1 255 %}, 0.2)',{% endfor %}
              ],
              borderWidth: 1
          }]
      },
      options: {
        scales: {
          yAxes: [{
              ticks: {
                  beginAtZero: true
              }
          }]
      }
      }
  }
 );
      });
</script>
{% endblock %}
