<footer class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-4">
          <div class="content">
            <h6 class="footer_title title is-6">
              You want to receive the latest info?
            </h6>
            <p>
              Then you can subscribe to our newsletter! Just enter your email
              and we will send you the latest news.
            </p>
            <div class="newsletter">
              <form
                action="mailto:smart@codingburgas.bg"
                method="POST"
                class="newsletter-form"
              >
                <input
                  type="email"
                  name="email"
                  placeholder="Enter your email!"
                />
                <button>
                  <i class="fa fa-paper-plane"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="column is-4" style="text-align: center">
          <div class="content">
            <div>
              <h6 class="footer_title title is-6">SOCIAL MEDIAS</h6>
              <p>Follow us on our social media!</p>
              <a class="button is-medium is-facebook">
                <span class="icon">
                  <i class="fab fa-facebook-f fa-lg"></i>
                </span>
              </a>
              <a class="button is-medium is-foursquare">
                <span class="icon">
                  <i class="fab fa-instagram fa-lg"></i>
                </span>
              </a>
              <a class="button is-medium is-twitter">
                <span class="icon">
                  <i class="fab fa-twitter fa-lg"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="content">
            <h6 class="footer_title title is-6">Contact us!</h6>
            <p>
              If you want us to add, change or update any news, you can contact
              us at:
              <br />
              Phone: +359 888 888 888
              <br />
              Email: smart@codingburgas.bg
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-foot">
    <div class="container has-text-centered">
      <p class="footer-text">&copy; 2022 - TextQuery</p>
    </div>
  </div>
  <br />
</footer>
